{% extends "base.html" %}


{% block title %}订单页面{% endblock %}
{% block body %}
        <div id="Menu" class="clearfix">
            <div class="index_style clearfix">
                <div id="allSortOuterbox" class="display">
                    <div class="t_menu_img"></div>
                    <div class="Category"><a href="#"><em></em>所有产品分类</a></div>
                    <div class="hd_allsort_out_box_new">
                        <!--左侧栏目开始-->
                        <ul class="Menu_list">
                            <li class="name">
                                <div class="Menu_name"><a href="product_list.html">面部护理</a> <span>&lt;</span></div>
                                <div class="link_name">
                                    <p><a href="Product_Detailed.html">茅台</a> <a href="#">五粮液</a> <a href="#">郎酒</a> <a
                                            href="#">剑南春</a></p>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                        <div class="hd_sort_list">
                                            <dl class="clearfix" data-tpc="1">
                                                <dt><a href="#">面膜<i>></i></a></dt>
                                                <dd><a href="#">撕拉面膜</a><a href="#">面膜贴</a><a href="#">免洗面膜</a><a
                                                        href="#">水洗面膜</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="2">
                                                <dt><a href="#">洁面<i>></i></a></dt>
                                                <dd><a href="#">洁面摩丝</a><a href="#">洁面乳 </a><a href="#">洁面啫哩/胶</a><a
                                                        href="#">面部去角质/磨砂</a><a href="#">洁面膏/霜</a><a href="#">洁肤皂</a>
                                                </dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="3">
                                                <dt><a href="#">化妆水<i>></i></a></dt>
                                                <dd><a href="#"> 喷雾</a><a href="#"> 精华水</a><a href="#"> 柔肤水</a><a
                                                        href="#">爽肤水</a><a href="#">收敛水/紧肤水</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="4">
                                                <dt><a href="#">眼部护理<i>></i></a></dt>
                                                <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a
                                                        href="#">眼霜</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="4">
                                                <dt><a href="#">眼部护理<i>></i></a></dt>
                                                <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a
                                                        href="#">眼霜</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="4">
                                                <dt><a href="#">防晒<i>></i></a></dt>
                                                <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a
                                                        href="#">眼霜</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="4">
                                                <dt><a href="#">唇部护理<i>></i></a></dt>
                                                <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a
                                                        href="#">眼霜</a></dd>
                                            </dl>
                                            <dl class="clearfix" data-tpc="4">
                                                <dt><a href="#">乳液/面霜<i>></i></a></dt>
                                                <dd><a href="#"> 乳液</a><a href="#"> 面霜</a><a href="#">按摩霜</a><a
                                                        href="#">面部啫喱</a><a href="#">凝露/凝胶</a></dd>
                                            </dl>
                                        </div>
                                        <div class="Brands">
                                            <a href="#" class="logo_Brands"><img src=""/></a>
                                        </div>
                                    </div>
                                    <!--品牌-->
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">身体护理</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="Product_Detailed.html"> 面霜</a><a href="#">眼霜</a><a href="#"> 面膜</a><a
                                        href="#">护肤套装</a>

                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">香水彩妆</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">卸妆 </a><a href="#">防晒</a><a href="#">BB</a>
                                    <a href="#">女士香水</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">洗发护发</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">洗发</a><a href="#">护发</a><a href="#">沐浴</a><a href="#">润肤乳</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">女性护理</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
                                    <a href="#"> 面霜</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">男性护理</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
                                    <a href="#"> 面霜</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">推荐品牌</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                            <li class="name">
                                <div class="Menu_name"><a href="#">推荐品牌</a><span>&lt;</span></div>
                                <div class="link_name">
                                    <a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
                                </div>
                                <div class="menv_Detail">
                                    <div class="cat_pannel clearfix">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <script>$("#allSortOuterbox").slide({titCell: ".Menu_list li", mainCell: ".menv_Detail",});</script>
                <!--菜单栏-->
                <div class="Navigation" id="Navigation">
                    <ul class="Navigation_name">
                        <li><a href="/">首页</a></li>
			<li {% if type_title =="水果蔬菜" %}class="on" {% endif %}><a href="/list/1/1">水果蔬菜</a></li>
             <li {% if type_title =="零食" %}class="on" {% endif %}><a href="/list/2/1">零食</a></li>
             <li {% if type_title =="家用产品" %}class="on" {% endif %}><a href="/list/3/1">家用产品</a></li>
			<li {% if type_title =="手机电脑" %}class="on" {% endif %}><a href="/list/4/1">手机电脑</a><em class="hot_icon"></em></li>
			<li><a href="/user/help/">帮助中心</a></li>
                    </ul>
                </div>
                <script>$("#Navigation").slide({titCell: ".Navigation_name li"});</script>
                <!-- <a href="#" class="link_bg"><img src="/static/images/link_bg_03.png" /></a>-->
            </div>
        </div>

    {% block unlike %}{% endblock %}


{% endblock %}