{% extends "base.html" %}






{% block body %}
    <!--顶部样式-->


<!--产品列表样式-->
 <div id="header_top">

  <!--顶部样式1-->

<!--菜单导航样式-->
<div id="Menu" class="clearfix">
<div class="index_style clearfix">
  <div id="allSortOuterbox" class="display">
    <div class="t_menu_img"></div>
    <div class="Category"><a href="#"><em></em>所有产品分类</a></div>
    <div class="hd_allsort_out_box_new">
	 <!--左侧栏目开始-->
	 <ul class="Menu_list">
	    <li class="name">
		<div class="Menu_name"><a href="product_list.html" >面部护理</a> <span>&lt;</span></div>
		<div class="link_name">
		  <p><a href="Product_Detailed.html">茅台</a>  <a href="#">五粮液</a>  <a href="#">郎酒</a>  <a  href="#">剑南春</a></p>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		   <div class="hd_sort_list">
		    <dl class="clearfix" data-tpc="1">
			 <dt><a href="#">面膜<i>></i></a></dt>
			 <dd><a href="#">撕拉面膜</a><a href="#">面膜贴</a><a href="#">免洗面膜</a><a href="#">水洗面膜</a></dd>
			</dl>
			 <dl class="clearfix" data-tpc="2">
			 <dt><a href="#">洁面<i>></i></a></dt>
			 <dd><a href="#">洁面摩丝</a><a href="#">洁面乳 </a><a href="#">洁面啫哩/胶</a><a href="#">面部去角质/磨砂</a><a href="#">洁面膏/霜</a><a href="#">洁肤皂</a></dd>
			</dl>
			 <dl class="clearfix" data-tpc="3">
			 <dt><a href="#">化妆水<i>></i></a></dt>
			 <dd><a href="#"> 喷雾</a><a href="#"> 精华水</a><a href="#"> 柔肤水</a><a href="#">爽肤水</a><a href="#">收敛水/紧肤水</a></dd>
			</dl>
			 <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">眼部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd>
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">眼部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd>
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">防晒<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd>
			</dl>
             <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">唇部护理<i>></i></a></dt>
			 <dd><a href="#"> 眼膜</a><a href="#"> 眼部凝胶</a><a href="#">眼部精华</a><a href="#">眼霜</a></dd>
			</dl> <dl class="clearfix" data-tpc="4">
			 <dt><a href="#">乳液/面霜<i>></i></a></dt>
			 <dd><a href="#"> 乳液</a><a href="#"> 面霜</a><a href="#">按摩霜</a><a href="#">面部啫喱</a><a href="#">凝露/凝胶</a></dd>
			</dl>
		   </div><div class="Brands">
		   <a href="#" class="logo_Brands"><img src="" /></a>
		  </div>
		  </div>
		  <!--品牌-->
		</div>
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >身体护理</a><span>&lt;</span></div>
		<div class="link_name">
		 <a href="Product_Detailed.html"> 面霜</a><a href="#">眼霜</a><a href="#"> 面膜</a><a href="#">护肤套装</a>

		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >香水彩妆</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">卸妆 </a><a href="#">防晒</a><a href="#">BB</a>
        <a href="#">女士香水</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >洗发护发</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洗发</a><a href="#">护发</a><a href="#">沐浴</a><a href="#">润肤乳</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >女性护理</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
        <a href="#"> 面霜</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
        <li class="name">
		<div class="Menu_name"><a href="#" >男性护理</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">洁面</a><a href="#">坚果炒货</a><a href="#">乳液</a>
        <a href="#"> 面霜</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
		<li class="name">
		<div class="Menu_name"><a href="#" >推荐品牌</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
        <li class="name">
		<div class="Menu_name"><a href="#" >推荐品牌</a><span>&lt;</span></div>
		<div class="link_name">
		<a href="#">欧莱雅</a><a href="#"> 菲诗小铺</a><a href="#"> 雅诗兰黛</a>
		</div>
		<div class="menv_Detail">
		 <div class="cat_pannel clearfix">
		  </div>
		</div>
		</li>
	</ul>
	</div>
	</div>
	<script>$("#allSortOuterbox").slide({ titCell:".Menu_list li",mainCell:".menv_Detail",	});</script>
	<!--菜单栏-->
	<div class="Navigation" id="Navigation">
		 <ul class="Navigation_name">
			<li><a href="/">首页</a></li>
			<li {% if type_title =="水果蔬菜" %}class="on" {% endif %}><a href="/list/1/1">水果蔬菜</a></li>
             <li {% if type_title =="零食" %}class="on" {% endif %}><a href="/list/2/1">零食</a></li>
             <li {% if type_title =="家用产品" %}class="on" {% endif %}><a href="/list/3/1">家用产品</a></li>
			<li {% if type_title =="手机电脑" %}class="on" {% endif %}><a href="/list/4/1">手机电脑</a><em class="hot_icon"></em></li>
			<li><a href="/user/help/">帮助中心</a></li>
{#			<li><a href="#">鲜盟人才</a></li>#}
{#			<li><a href="#">鲜盟金融</a></li>#}
{#			<li><a href="#">鲜盟投资</a></li>#}
{#			<li><a href="#">鲜盟股票</a></li>#}
		 </ul>
		</div>
	<script>$("#Navigation").slide({titCell:".Navigation_name li"});</script>
     <!-- <a href="#" class="link_bg"><img src="images/link_bg_03.png" /></a>-->
  </div>
</div>
</div>
    <div class="Inside_pages clearfix">
 <!--位置-->
  <div class="Location_link">
  <em></em><a href="#">商品列表</a>  &gt;   <a href="#">{{ type_title }}</a>

    <!--筛选样式-->
   <div id="Filter_style">
     <!--推荐-->
    <div class="page_recommend">
      <div class="hd"><em></em>今日推荐<ul></ul></div>
      <div class="bd">
       <ul>
           {% for goods in low %}
        <li>
         <div class="img"><a href="/goods/{{ goods.id }}"><img src="/static/{{ goods.index_image }}" width="120" height="120" /></a></div>
         <div class="pro_info">
          <a href="/goods/{{ goods.id }}">{{ goods.product_title }}</a>
          <p class="Price"><i>￥</i>{{ goods.product_price }}</p>
          <p class="Sales">热销：<b>{{ goods.product_sales }}</b>件</p>
         </div>
        </li>
{% endfor %}
       </ul>
      </div>
      <a class="next" href="javascript:void(0)"><em class="iconfont icon-left"></em></a>
      <a class="prev" href="javascript:void(0)"><em class="iconfont icon-right"></em></a>
    </div>
    <script type="text/javascript">
		jQuery(".page_recommend").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
		</script>
   <!--条件筛选样式-->
     <div class="Filter">

{#  <div class="Filter_list clearfix">#}
{#  <div class="Filter_title"><span>商品分类：</span></div>#}
{#  <div class="Filter_Entire"><a href="#">水果</a></div>#}
{#  <div class="p_f_name"><a href="#">零食</a>#}
{#      <a href="#">家用产品</a>#}
{#      <a href="#">限时促销</a>#}
{##}
{#  </div>#}
{#  </div>#}


 </div>
 </div>
 <!--样式-->
   <div  class="scrollsidebar side_green clearfix" id="scrollsidebar">
     <div class="show_btn" id="rightArrow"><span></span></div>
        <!--菜单导航样式-->

<div class="page_left_style side_content"  >
  <!--浏览记录-->
   <div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
   <div class=" side_list">
   <div class="Record">
     <div class="title_name">浏览记录</div>
	 <ul>
     {% if history %}
         {% for goods in history %}
	  <li>
	   <a href="#">
	   <p><img src="/static/{{ goods.browsing_goods.index_image }}"></p>
	   <p class="p_name">{{ goods.browsing_goods.product_title }}</p>
	   </a>
	   <p><span class="p_Price left">价格:<b>￥{{ goods.browsing_goods.product_price }}</b></span><span class="p_Sales right">销量：2345件</span></p>
	  </li>
	 {% endfor %}
         {% else %}
         <li style="color: red;">登录后显示浏览记录</li>
     {% endif %}
     </ul>
   </div>
   <!--销售排行-->
    <div class="pro_ranking">
    <div class="title_name"><em></em>销量排行</div>
    <div class="ranking_list">
     <ul id="tabRank">
      <li class="t_p on">
      <em class="icon_ranking">1</em>
      <dt><h3><a href="/goods/{{ hot_top1[0].id }}">{{ hot_top1[0].product_title }}</a></h3></dt>
      <dd class="clearfix">
      <a href="/goods/{{ hot_top1[0].id }}"><img src="/static/{{ hot_top1[0].index_image }}" width="90" height="90" /></a>
      <span class="Price">￥{{ hot_top1[0].product_price }}</span>
      </dd>
          {% for goods in hot %}
      </li>
      <li class="t_p">
      <em class="icon_ranking">2</em>
      <dt><h3><a href="/goods/{{ goods.id }}">{{ goods.product_title }}</a></h3></dt>
      <dd class="clearfix">
      <a href="/goods/{{ goods.id }}"><img src="/static/{{ goods.index_image }}" width="90" height="90" /></a>
      <span class="Price">￥{{ goods.product_price }}</span>
      </dd>
      </li>
    {% endfor %}
     </ul>
    </div>
    </div>
    <script type="text/javascript">
	jQuery("#tabRank li").hover(function(){ jQuery(this).addClass("on").siblings().removeClass("on")},function(){ });
    jQuery("#tabRank").slide({ titCell:"dt h3",autoPlay:false,effect:"left",delayTime:300 });
    </script>
    </div>
 </div>
  <script type="text/javascript">
$(function() {
	$("#scrollsidebar").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',
		durationTime : 600
	});
});
</script>

{% block list %}{% endblock %}

<div class="fixedBox">
  <ul class="fixedBoxList">
      <li class="fixeBoxLi user"><a href="/user/user_center/"> <span class="fixeBoxSpan iconfont icon-yonghu"></span> <strong>用户</strong></a> </li>
    <li class="fixeBoxLi cart_bd" style="display:none;" id="cartboxs">
		<p class="good_cart">0</p>
			<span class="fixeBoxSpan iconfont icon-cart"></span> <strong>购物车</strong>
			<div class="cartBox">
       		<div class="bjfff"></div><div class="message">购物车内暂无商品，赶紧选购吧</div>    </div></li>
    <li class="fixeBoxLi Service "> <span class="fixeBoxSpan iconfont icon-service"></span> <strong>客服</strong>
      <div class="ServiceBox">
        <div class="bjfffs"></div>
        <dl onclick="javascript:;">
		    <dt><img src="/static/images/qq1.jpg" style="width: 80px;height: 80px;"></dt>
		       <dd><strong>QQ客服1</strong>
		          <p class="p1">9:00-22:00</p>
		           <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
				<dl onclick="javascript:;">
		          <dt><img src="/static/images/qq1.jpg" style="width: 80px;height: 80px;"></dt>
		          <dd> <strong>QQ客服1</strong>
		            <p class="p1">9:00-22:00</p>
		            <p class="p2"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=123456&amp;site=DGG三端同步&amp;menu=yes">点击交谈</a></p>
		          </dd>
		        </dl>
	          </div>
     </li>
	 <li class="fixeBoxLi code cart_bd " style="display:block;" id="cartboxs">
			<span class="fixeBoxSpan iconfont icon-erweima"></span> <strong>微信</strong>
			<div class="cartBox">
       		<div class="bjfff"></div>
			<div class="QR_code">
			 <p><img src="images/erweim.jpg" width="150px" height="150px" style=" margin-top:10px;" /></p>
			 <p>微信扫一扫，关注我们</p>
			</div>
			</div>
			</li>

    <li class="fixeBoxLi Home"> <a href="/user/user_collect/"> <span class="fixeBoxSpan iconfont  icon-shoucang"></span> <strong>收藏</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-zuji"></span> <strong>足迹</strong> </a> </li>
    <li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan iconfont  icon-fankui"></span> <strong>反馈</strong> </a> </li>
    <li class="fixeBoxLi BackToTop"> <span class="fixeBoxSpan iconfont icon-top"></span> <strong>返回顶部</strong> </li>
  </ul>
</div>


   </div></div></div>
{% endblock %}