<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/holder.js"></script>
    <style>
        * {
            font-family: "Microsoft Yahei";
        }

        .form-group {
            margin: 70px;
        }


    </style>
    <script>
        $(function () {
            var pwd_error = false;
            $("#inputPassword3").blur(function () {
                var pwd = $("#inputEmail3").val(),
                    cpwd = $("#inputPassword3").val();
                if (pwd != cpwd){
                    $("#inputPassword3").next().show().html("两次密码输入不一致");
                    pwd_error = true;
                }
                else{
                    $("#inputPassword3").next().hide();
                    pwd_error = false;
                }
            });
            $(".form-horizontal").submit(function () {
                if (pwd_error==false){
                return true;
            }
            else{
                return false;
            }
            })

        })
    </script>

</head>
<body>
<h1 class="page-header" style="margin-left:660px;">重置密码</h1>

<form class="form-horizontal" action="/user/chongzhi_pwd/" method="post">

    <div class="form-group" style="margin-left: 400px;">
        <label for="inputEmail3" class="col-sm-2 control-label">
            密码
        </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputEmail3" placeholder="密码" style="width: 300px;"
                   name="pwd">
        </div>
    </div>
    <div class="form-group" style="margin-left: 400px;">
        <label for="inputPassword3" class="col-sm-2 control-label">
            确认密码
        </label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" style="width: 300px;" name="cpwd">
            <span style="color: red;font-size: 12px;display: none;">提示信息</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" style="position: relative;top:-70px;left:400px;" value="确认修改"
                   id="btn">
        </div>
    </div>
</form>
</body>
</html>