{% extends "base_user.html" %}
{% block topfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="/static/fonts/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="/static/js/common_js.js" type="text/javascript"></script>
    <script src="/static/js/footer.js" type="text/javascript"></script>
{% endblock %}
{% block title %}我的收藏{% endblock %}

  <!--右侧样式-->
{% block unlike %}
     <div class="right_style">
    <div class="info_content">
       <div class="collect_style r_user_style">
        <div class="title_Section"><span>用户收藏</span></div>
         <div class="collect">
              <ul class="Quantity"><li>已藏量：{{ count }}条</li><li></li></ul>
          <div class="collect_list">
      <ul>{% if collect %}
          {% for goods in collect %}
       <li class="collect_p">
         <a href="/user/delete_collect/{{ goods[0].id }}" class="iconfont icon-close2 delete"></a>
{#         <a href="#" class="buy_btn">立即购买</a>#}
       <div class="collect_info">
        <div class="img_link"> <a href="#" class="center "><img src="/static/{{ goods[0].index_image }}"></a></div>
        <dl class="xinxi">
         <dt><a href="#" class="name">{{ goods[0].product_title }}</a></dt>
         <dd><span class="Price"><b>￥</b>{{ goods[0].product_price }}</span><span class="collect_Amount">销量：{{ goods[0].product_sales }}</span></dd>
        </dl>
        </div>
       </li>
    {% endfor %}
          {% else %}
          <li style="position: relative;top: 80px;left:350px;"><span style="color: red;font-size: 30px;">暂未添加收藏商品</span></li>
      {% endif %}
      </ul>
     </div>
{#     <div class="Paging">#}
{#    <div class="Pagination">#}
{#    <a href="#">首页</a>#}
{#     <a href="#" class="pn-prev disabled">&lt;上一页</a>#}
{#	 <a href="#" class="on">1</a>#}
{#	 <a href="#">2</a>#}
{#	 <a href="#">3</a>#}
{#	 <a href="#">4</a>#}
{#	 <a href="#">下一页&gt;</a>#}
{#	 <a href="#">尾页</a>	#}
{#     </div>#}
{#    </div>#}
      </div>
     </div>   
    </div>
    </div>
    <!---->

{% endblock %}