{% extends "base.html" %}

{% block topfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/sumoselect.css" rel="stylesheet"  type="text/css"/>
<link href="/static/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="/static/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="/static/js/jquery.sumoselect.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="/static/js/common_js.js" type="text/javascript"></script>
<script src="/static/js/footer.js" type="text/javascript"></script>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
<link href="/static/fonts/iconfont.css"  rel="stylesheet" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/Orders.css" rel="stylesheet" type="text/css" />
<link href="/static/css/show.css" rel="stylesheet" type="text/css" />
<link href="/static/css/purebox-metro.css" rel="stylesheet" id="skin">
<script src="/static/js/jquery.min.1.8.2.js" type="text/javascript"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="/static/js/jquery.reveal.js" type="text/javascript"></script>
<script src="/static/js/common_js.js" type="text/javascript"></script>
<script src="/static/js/footer.js" type="text/javascript"></script>
{#    <link rel="stylesheet" href="/static/css/bootstrap.css">#}
{#    <script src="/static/js/jquery-1.12.4.min.js"></script>#}
{#    <script src="/static/js/bootstrap.js"></script>#}
{#    <script src="/static/js/holder.js"></script>#}
{% endblock %}



{% block body %}
    <!--右侧样式-->

<div class="Inside_pages clearfix">
  <div class="shop_carts">
   <div class="Process"><img src="/static/images/Process_img_01.png" /></div>
 <div class="Shopping_list">
     <div class="" style="background:white; height:40px; line-height:40px; color:#333333; margin-bottom:2px;font-size: 18px; ">
            收货地址：<span style="font-size:16px;color:red;">{{ addr.recipient_addr }}</span><br>
  </div>
     <div class="" style="background:white; height:40px; line-height:40px; color:#333333; margin-bottom:2px;font-size: 18px; ">
            联系电话：<span style="font-size:16px;color:red;">{{ addr.recipient_phone }}</span><br>
  </div>
     <div class="" style="background:white; height:40px; line-height:40px; color:#333333; margin-bottom:2px;font-size: 18px; ">
        订单编号：<span style="font-size:16px;color:red;">{{ goods[0].order_id }}</span><br>
  </div>
     <div class="" style="background:white; height:40px; line-height:40px; color:#333333; margin-bottom:2px;font-size: 18px; ">
            快递：<span style="font-size:16px;color:red;">{{ goods[0].orders.express }}</span><br>
  </div>



  <div class="title_name">
    <ul>
	<li class="checkbox" style="background: #ededed;"></li>
	<li class="name" style="font-size: 20px;">商品名称</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li class="bdj" style="font-size: 20px;">单价</li>
	<li class="sl" style="font-size: 20px;">购买数量</li>
	<li class="xj" style="font-size: 20px;">小计</li>
	<li class="cz" style="font-size: 20px;">状态</li>
  </ul>
 </div>

  <div class="shopping">
  <div  method="post" action="">
 <table class="table_list">
     {% for good in goods %}
   <tr class="tr">
    <td class="name">
	  <div class="img"><a href="#"><img src="/static/{{ good.order_goods.index_image }}" /></a></div>
	  <div class="p_name"><a href="#" style="font-size: 15px;">{{ good.order_goods.product_title[:20] }}</a></div>
	</td>
	<td class="bgj sp" ><span id="price_item_1" style="position: relative;left:70px;font-size: 16px;">￥{{ good.order_goods.product_price }}</span></td>
	<td class="sl">
	    <div class="Numbers">
          <span style="position: relative;right:24px;font-size: 16px;">{{ good.goods_count }}</span>
		 </div>
	</td>
       <td class="xj" ><span id="" style="position: relative;right: 24px;font-size: 16px;">￥{{ good.goods_price }}</span></td>
	<td class="cz">
	 <p><a href="#" style="position: relative;right: 30px;font-size: 16px;">{{ good.orders.order_status }}</a></p>
	</td>
   </tr>
{% endfor %}

 </table>

      <div class="price_style" style="float: right;line-height: 32px; font-size: 18px;margin-top: 20px;">
      <div class="right_direction">
        <ul>
{#         <li><label>优惠金额 </label><span style="color: red;">￥-23.00</span></li>#}
         <li><label>配&nbsp;&nbsp;送&nbsp;&nbsp;费 </label><span style="color: red;"> ￥0</span></li>
         <li class="shiji_price"><label>实&nbsp;&nbsp;付&nbsp;&nbsp;款 </label><span style="color: red;">￥{{ goods[0].orders.total_price }}</span></li>
        </ul>   
          <div class="btn">
              <a href="/user/orders_center/" style="background: red;font-size: 20px;color: white;">返回订单中心</a>
          </div>

      </div>
      </div>

   </form>

 </div>
 </div>
 </div>
</div>

</div>
{% endblock %}